{% extends 'base.html' %}


{% block title %}
Landing Page  
{% endblock title %}

{% block content %}
  {% if name == "Javier"%}
    <h1>Hola: {{name | upper}}.</h1>
    <h2>Nombre: {{name | lower}}</h2>
    {% elif name == "Daniel"%}
    <h1>Hola: {{name | upper}}ON..</h1>
    {% else %}
    <h1>Hola invitado: {{name | upper}}.</h1>
    {% endif %}
    <p>Edad: {{age}}</p>

    <p>Fecha: {{today | date:"d/m/Y"}}</p>

    <ul>
      {%for tool in stack%}
      <li>
        <a href="{% url 'stack' tool.id %}"> {{tool.name}} </a>
      </li>
      {%empty%}
      <li>No hay tecnologias disponibles</li>
      {%endfor%}
    </ul>
{% endblock content %}
  
  
    
    
